[DEFAULT]

log_file_name = ./mysql2click.log

mysql_host = 127.0.0.1
mysql_port = 3306
mysql_user = root
mysql_password = <MYSQL_PASSWORD_HERE>
mysql_db = dc_bitrix
clickhouse_host = 127.0.0.1
clickhouse_port = 9000
clickhouse_user = root
clickhouse_password = <CLICKHOUSE_PASSWORD_HERE>
clickhouse_db = default

mysql_table = dc_log
clickhouse_table = dc_log_old

position_start = 27740000000
position_end =   27750000000
batch_rows = 100000
sleep_interval = 5
make_clickhouse_optimize = False
make_mysql_delete = False
